/* Positionnement général */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Définition des styles pour le header ---------------------------------------------------------------------------------------------------------*/

header {
  background-color: #fff; /* Couleur de fond */
  padding: 10px; /* Espacement intérieur */
  text-align: center; /* Alignement du contenu */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Ombre portée */
}

header img {
  max-width: 90%; /* Image responsive */
}


/* Définition des styles pour le menu --------------------------------------------------------------------------------------------------------- */

nav {
  float: left;
  width: 90%;

}

nav ul {
  list-style: none; /* Enlever les puces */
  margin: 0; /* Supprimer les marges */
  padding: 0; /* Supprimer les espacements */
  display: flex; /* Affichage en ligne */
  justify-content: space-between; /* Espacement entre les éléments */
  align-items: center; /* Alignement vertical */
}

nav ul li {
  margin-left: 20px; /* Espacement entre les éléments */
}

nav ul li a {
  text-decoration: none; /* Enlever les soulignements */
  color: #333; /* Couleur du texte */
  font-weight: bold; /* Police en gras */
  font-size: 17px; /* Taille de la police */
}

nav ul li:hover a {
  color: #0077c2; /* Couleur du texte au survol */
}


nav ul ul li {
  margin-right: 0; /* Réinitialisation de la marge */
  display: block; /* Affichage en bloc */
}

nav ul ul li a {
  font-weight: normal; /* Police normale */
  font-size: 14px; /* Taille de la police */
}

nav ul li:hover > ul {
  display: block; /* Afficher le sous-menu au survol */
}



/* Définition des styles pour la section "Présentation d'IPDF" -------------------------------------------------------------------------*/
.presentation-IPDF {
  float: left;
  width: 60%;
  margin-right: 5%;
  margin-left: 6%;
}

.presentation-IPDF img {
  max-width: 100%;
}


/* Définition des styles pour la section "photos" ---------------------------------------------------------------------------------------*/

.photos {
  float: right;
  width: 20%;
  margin-top: 3%;
  margin-right: 6%;
}
.photos img {
  max-width: 100%;
}


/* Définition des styles pour la section "Objectifs" ---------------------------------------------------------------------------------------*/

.objectifs-programme {
  float: right;
  width: 20%;
  margin-top: 3%;
  margin-right: 6%;
  border-width: 1px;
  border-style: solid;
}
.objectifs-programme h3 {
  margin-left: 10%;
}

.objectifs-programme li {
  margin-right: 3%;
}

/* Style pour le bouton "télécharger" */
.télécharger {
  display: block;
  margin-right:20px;
  margin-bottom:10px;
  float: right;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #0077c2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Définition des styles pour la section "Soutenir le programme" ----------------------------------------------------------------------------*/

.support-section {
  float: right;
  width: 20%;
  margin-top: 3%;
  margin-right: 6%;
  width: 20%;
}

/* Style pour le bouton "Faire un don" */
.donate-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Définition des styles pour la section "documentation" ---------------------------------------------------------------------------------------*/

.documentation {
  float: right;
  width: 20%;
  margin-top: 3%;
  margin-right: 6%;
  border-width: 1px;
  border-style: solid;
}
.documentation h3 {
  margin-left: 10%;
}

.documentation li {
  margin-right: 3%;
}

/* Styling for the activities section ----------------------------------------------------------------------------------------------------- */

.activites {
  float: left;
  width: 80%;
  margin-right: 5%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}


.activite {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.activite img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.activite h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.activite p {
  font-size: 1rem;
  line-height: 1.5;
}



